body{
    background: #0e0e0e;
    color: #fff;
    margin: 1rem;
    color: #406043;
}
fieldset{
    background: #111111;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}
input {
    background: #38523a;
}
h1{
    text-align: center;
    line-height: 2rem;
}
input, button{
    height: 2rem;
}
input{
    color: #fff;
}
#pavilionOpenTime .am{
    margin-bottom: 1rem;
}
#pavilionOpenTime input{
    width: 25%;
}