body{
    background: #e6e7ec;
    margin: 1rem;
    color: #585867;
}
fieldset{
    background: linear-gradient(340deg, #ededf2, #e9e9ed);
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}
fieldset legend{
    font-size: .8rem;
}
input {
    background: #d2d2da;
    color: #585867;
}
button{
    background: #676772;
    color: #FFF;
    padding: 1px 2rem;
}
h1{
    text-align: center;
    line-height: 3rem;
}
input, button{
    height: 2rem;
    border: 0;
}
#pavilionOpenTime .am{
    margin-bottom: 1rem;
}
#pavilionOpenTime input{
    width: 35%;
}
#nextNATTime{
    padding: 2rem 1rem 1.5rem;
}
#nextNATTime input{
    text-align: center;
    width: 100%;
    background: transparent;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}
#nextNATTime label{
    width: 100%;
    text-align: center;
    display: block;
    letter-spacing: .18rem;
}
#shaismy a {
    background: #d2d2da;
    font-size: .9rem;
    line-height: 2rem;
    height: 2rem;
    display: inline-block;
    padding: 0 1rem;
    color: #585867;
    text-decoration: none;
}
#wxGuide{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    display: none;
}
#wxGuide label{
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    background: linear-gradient(340deg, #ededf2, #e9e9ed);
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(0 0 0 / 20%);
}
meter{
    width: 100%;
    display: block;
}
meter::-webkit-meter-inner-element{
    width: 100%;
}
meter::-webkit-meter-bar{
    background: #d2d2da;
    border: 0;
    border-radius: 0;
    width: 100%;
}
meter::-webkit-meter-optimum-value{
    background: #7abc5e;
}